.grid-container {
  display: grid;
  grid-template-areas: 
    "head"
    "main";
  width: 100%;
}

.main-content {
  grid-area: main;
  padding: 1rem;
  flex: 1;
}

.main-content h1 {
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0px;
}

#hero {
  width: 100%;
  height: 100%;
  display: block;
}

.thes {
  width: 50%;
  height: auto;
  font-size: 20px;
}

#cough {
  float: right;
  width: 200px;
  height: auto;
}

#testgrid {
  display: grid;
  grid:
    'pic1 test1' 1fr
    'test2 pic2' 1fr
    'pic3 test3' 1fr
    /1fr 1fr;
}

#testgrid img {
  height: 300px;
  margin: auto;
}

#testgrid p {
  margin: auto;
}

#pic1 {
  grid-area: pic1;
}

#test1 {
  grid-area: test1;
}

#pic2 {
  grid-area: pic2
}

#test2 {
  grid-area: test2;
}

#pic3 {
  grid-area: pic3;
}

#test3 {
  grid-area: test3;
}

@media screen and (max-width: 480px) {
  #testgrid {
    display: flex;
    flex-direction: column;
    grid: unset;
  }

  #testgrid img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
  }

  #pic1,
  #test1,
  #pic2,
  #test2,
  #pic3,
  #test3 {
    grid-area: unset;
  }
}