.grid-container {
  display: grid;
  grid-template-areas: 
    "head"
    "secondary"
    "main";
  width: 100%;
}

.main-content {
  grid-area: main;
  padding: 1rem;
  flex: 1;
}

.main-content h1 {
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0px;
}

#hero {
  width: 100%;
  height: auto;
  display: block;
}

.CLICKME {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 100%;
}
